.layout-header {
  display: flex;
  align-items: center;
  justify-content: center;

  &__links {
    list-style-type: none;
    display: flex;
    gap: 12px;

    &:hover {
      opacity: 0.8;
    }

    &-item {
      cursor: pointer;
    }
  }
}
